
#header{
	width: 100%;
}

#logo{
	float:left;
	width: 180px;
	height:96px;
}

#login ul{
	float:right;
	list-style: none;
}

#login li{
	 width: 80px;
      border-bottom: none;
      height: 25px;
      line-height: 25px;
      font-size: 1.0em;
	  display: inline-block;
	  margin-right: -4px;
}

#nav ul{
	  clear: both;
	  list-style: none;
      background-color: #3954a5;
      text-align: center;
      padding: 0;
      margin: 0;
	  overflow: auto;
}

#nav li:hover{
	background-color: #f3f3f3;
	transition: .3s background-color;
}

#nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
	  display: inline-block;
	  margin-right: -4px;
    }

#nav a {
	text-decoration: none;
	color:#f3f3f3;
}

#nav a:hover {
	transition: .3s color;
	color:#3954a5;
}
	