#divider{
	height: 6px;
	border-bottom-width: 2px;
	background-color: #3954a5;
	padding-left: 12;
	margin: 0;
	clear:both;
}

#botLogo{
	float:left;
	width:60px;
}

#footer{
	width: 100%;
}

#disclaimers{

}

#disclaimers ul{
	background-color: white;
	width:40%;	
	list-style: none;
	padding: 0;
    margin: auto;
	text-align: center;
}

#disclaimers li {
	height: 12.5px;
    line-height: 25px;
	padding-left: 2.5px;
	padding-right:2.5px;
    border-bottom: none;      
	display: inline-block;
}

#disclaimers a {
	text-decoration: none;
	color:#3954a5;
}